certifi==2022.9.14
charset-normalizer==2.0.12
decorator==4.4.2
idna==3.4
imageio==2.15.0
imageio-ffmpeg==0.4.7
importlib-resources==5.4.0
moviepy==1.0.3
numpy==1.19.5
Pillow==8.4.0
proglog==0.1.10
protobuf==3.19.5
requests==2.27.1
scipy==1.0.0
six==1.16.0
tensorflow==0.12.1
tqdm==4.64.1
urllib3==1.26.12
zipp==3.6.0
